<nav class="navbar navbar-expand-md" id="test">
    <div class="container">
        <a class="navbar-brand" href="#">
            <div id="logo">&nbsp;&nbsp; SONNY</div>
            <div>ADMINISTRATIVO</div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menuOperationDropDown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <mat-form-field>
                        <mat-label>Operações</mat-label>
                        <mat-select>
                            <mat-option value="Financeiro">
                                Financeiro
                            </mat-option>

                            <mat-option value="Fornecedores">
                                Fornecedores
                            </mat-option>

                            <mat-option value="Parceiros">
                                Parceiros
                            </mat-option>

                            <mat-option value="Estoque">
                                Estoque
                            </mat-option>

                            <mat-option value="Configurações">
                                Configurações
                            </mat-option>

                        </mat-select>
                    </mat-form-field>
                </li>
            </ul>

        </div>
    </div>
</nav>