<div>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="_shortRegisterForm">
            <table>
                <thead>
                    <h2 mat-dialog-title>Cadastro...</h2>
                </thead>
                <tbody>
                    <tr>
                        <mat-form-field>
                            <mat-label>Nome</mat-label>
                            <input matInput formControlName="name">
                            <mat-error *ngIf="_shortRegisterForm.get('name').hasError('required')">Nome é obrigatório.
                            </mat-error>
                            <mat-error *ngIf="_shortRegisterForm.get('name').hasError('maxlength')">Nome inválido, deve conter no máximo 200 caracteres.</mat-error>
                        </mat-form-field>
                    </tr>
                    &nbsp;
                    <tr>
                        <mat-form-field>
                            <mat-label>Cpf/Cnpj</mat-label>
                            <input matInput formControlName="cnjp">
                            <mat-error *ngIf="_shortRegisterForm.get('cnpj').hasError('minlength')">No mínimo 10 caracteres, são nescessários para este campo.</mat-error>
                            <mat-error *ngIf="_shortRegisterForm.get('cnpj').hasError('maxlength')">No máximo 15 caracteres são nescessários para este campo.</mat-error>
                        </mat-form-field>
                    </tr>
                    &nbsp;
                    <div formGroup="contact">
                        <tr>
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email">
                            </mat-form-field>
                        </tr>
                        &nbsp;
                        <tr>
                            <mat-form-field>
                                <mat-label> Cel</mat-label>
                                <input matInput formControlName="cel">
                            </mat-form-field>
                            <mat-checkbox formControlName="isZap">Zap</mat-checkbox>
                        </tr>
                    </div>
                    <div>
                        <div formGroup="address">
                            <tr>
                                <mat-form-field>
                                    <mat-label>Bairro:</mat-label>
                                    <input matInput formControlName="neighborhood">
                                </mat-form-field>
                            </tr>
                            &nbsp;
                            <tr>
                                <mat-form-field>
                                    <mat-label> Rua:</mat-label>
                                    <input matInput formControlName="street">
                                </mat-form-field>
                            </tr>
                        </div>
                    </div>
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Fechar</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Salvar</button>
    </mat-dialog-actions>
</div>